.main{
	padding-top: 10vh !important;
}
#googleMap{
	margin-top: 10vh;
	height: 60vh !important;
}
.title{
	font-size: 7vh;
	font-family: Lobster;
	text-align: center;
}
.subtitle{
	text-align: center;
}

.contactform{
	text-align: center;
}
.contactform input,
.contactform textarea{
	width: 100%;
	margin-top: 3vh;
	font-size: 3.5vh;
	border-radius: 5px;
}
.contactform button{
	font-size: 4vh;
	font-family: Lobster;
	border-radius: 5px;
	margin-top: 3vh;
}