
.toit_item{
	/* border-style: solid; */
	transition: 1s;
	cursor: pointer;
}
.toit_item:hover{
	background-color: rgba(240,240,240,1);
}
.toit_item h1,
.toit_item h3{
	text-align: center;
}
.toit_item h2{
	font-size: 2.5vh;
}
.toit_item h1{
	font-size: 3.5vh;
	font-family: Lobster;
}
.toit_item img{
	width: 100%;
}

.toit_item h3{
	font-size: 3vh;
	position: absolute;
	font-family: Lobster;
	right: 5px;
	top: 5px;
	border-radius: 10px;
	/* border-left: 2px black; */
}
