{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>EMART</title>

	<link rel="stylesheet" type="text/css" href="static/about.css">
</head>
<body style="background-image: url('static/bg.jpg');">
<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
<!-- BOOTSTRAP 3 CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed|Inconsolata|Lato|Quicksand|Roboto|Slabo+27px|Lobster|Titillium+Web" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="static/all.css">
<div class="langs">
	<form class="inline" method="POST" id="lang-form">
	<button type="submit" name="submit-btn" value="lang">
		<input class="hidden" name="langselect" value="est">
		<img src="https://upload.wikimedia.org/wikipedia/commons/8/8f/Flag_of_Estonia.svg">
	</button>
	</form>
</div>
<div class="col-xs-12 navbar">
	<a href="lander.html"> Esileht</a>
	<span class="vahe">|</span>
	<a href="index.html"> Telli</a>
	<span class="vahe">|</span>
	<a href="about.html">Meist</a>
	<span class="vahe" id="vahe-remove">|</span>
	<a href="https://www.emartauto.ee">Kodulehele</a>
</div>

<script type="text/javascript" src="static/nav.js"></script>
<div class="col-xs-12" id="lander">
	<div class="col-xs-12 meeter">
		<h1>Meist:</h1>
	</div>
	<div class="main col-xs-12">
		<h1 class="title">Asukoht kaardil</h1>
		<h2 class="subtitle">asasudhasodialsdh</h2>

		<div id="googleMap" style="width:100%;height:400px;"></div><script src="static/about.js"></script>

		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1Pzu_gWo2kcH1K-5mq9E6_XmiOHSWQ-0&callback=myMap"></script>
	</div>
	<div class="main col-xs-12">
		<h1 class="title">asdhaisod</h1>
		<h2 class="subtitle">asiduhasioödasodöjasodialshdb</h2>

		<div class="col-xs-12 col-lg-3"></div>
		<div class="col-xs-12 col-lg-6 contactform">
			<form method="POST">
				<div class="col-xs-12"><input placeholder="Nimi" name="name"></div>
				<div class="col-xs-12"><input placeholder="Telnr" name="tel"></div>
				<div class="col-xs-12"><input placeholder="meil" name="mail"></div>
				<div class="col-xs-12"><textarea rows="4" name="letter" placeholder="kontakt sisu"></textarea></div>
				<button type="submit" name="submit-btn" value="contactform">Saada!</button>
			</form>
		</div>
		<div class="col-xs-12 col-lg-3"></div>

	</div>

<div class="col-xs-12 main contact">
	<!--
	<h2 class="center">V]ta meiega yhendust</h2>
	<p class="center">Mooduseid meiega kontakteerumiseks</p>
-->
	<div class="col-xs-12 col-lg-4">
		<h3><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> +372 555 5555<br><br></h3>
	</div>
	<div class="col-xs-12 col-lg-4">
		<h3><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> meil@gmail.com<br><br></h3>
	</div>
	<div class="col-xs-12 col-lg-4">
		<h3><span class="glyphicon glyphicon-home" aria-hidden="true"></span> aadress tn 31<br><br></h3>
	</div>
</div>

</body>
</html>