{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>EMART</title>

	<link rel="stylesheet" type="text/css" href="static/index.css">
</head>
<body style="background-image: url('static/bg.jpg');">
<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
<!-- BOOTSTRAP 3 CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed|Inconsolata|Lato|Quicksand|Roboto|Slabo+27px|Lobster|Titillium+Web" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="static/all.css">
<div class="langs">
	<form class="inline" method="POST" id="lang-form">
	<button type="submit" name="submit-btn" value="lang">
		<input class="hidden" name="langselect" value="est">
		<img src="https://upload.wikimedia.org/wikipedia/commons/8/8f/Flag_of_Estonia.svg">
	</button>
	</form>
</div>
<div class="col-xs-12 navbar">
	<a href="lander.html"> Esileht</a>
	<span class="vahe">|</span>
	<a href="index.html"> Telli</a>
	<span class="vahe">|</span>
	<a href="about.html">Meist</a>
	<span class="vahe" id="vahe-remove">|</span>
	<a href="https://www.emartauto.ee">Kodulehele</a>
</div>

<script type="text/javascript" src="static/nav.js"></script>

<div class="col-xs-12" id="lander">
	<div class="col-xs-12 meeter">
		<h1>Menüü</h1>
		<!--<h2>{{ lang.lahtiolek | linebreaksbr }}</h2>-->
	</div>

	<div class="main col-xs-12">
		<div class="col-lg-3 col-xs-6 toit_item" id="toit1">
			<h1><br><b>Toit</b></h1>
			<h2>tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst </h2>
			<h3>666€</h3>
			<img src="https://www.foodmood.ee/kataloog/src.php?type=img&size=resized&img=998e45e78a9746b861527d0aeaeb0dd4.jpeg">
		</div>
	</div>
</div>

<div class="col-xs-12 main contact">
	<!--
	<h2 class="center">V]ta meiega yhendust</h2>
	<p class="center">Mooduseid meiega kontakteerumiseks</p>
-->
	<div class="col-xs-12 col-lg-4">
		<h3><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> +372 555 5555<br><br></h3>
	</div>
	<div class="col-xs-12 col-lg-4">
		<h3><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> meil@gmail.com<br><br></h3>
	</div>
	<div class="col-xs-12 col-lg-4">
		<h3><span class="glyphicon glyphicon-home" aria-hidden="true"></span> aadress tn 31<br><br></h3>
	</div>
</div>
<span class="glyphicon-shopping-cart glyphicon hidden"></span>
<span class="glyphicon glyphicon-plus"></span>
<div class="shoppinglist-bg hidden"></div>
<div class="shoppinglist hidden">
	<form method="POST">
		<div class="list">
		<span class='glyphicon glyphicon-remove' id="cart-remove"></span>
		</div>
		<h2>Kokku: <b id="kokku">0</b><b>€</b></h2>
		<input class="hidden" id="toidud" name="toidud">
	</form>
		<a href="checkout.html">
		<button type="submit" name="submit-btn" value="toidud" id="maksa">Maksa!</button>
		</a>
</div>

<script type="text/javascript" src="static/index.js"></script>
</body>
</html>