<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
<!-- BOOTSTRAP 3 CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed|Inconsolata|Lato|Quicksand|Roboto|Slabo+27px|Lobster|Titillium+Web" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="static/all.css">
<div class="langs">
	<form class="inline" method="POST" id="lang-form">
	<button type="submit" name="submit-btn" value="lang">
		<input class="hidden" name="langselect" value="est">
		<img src="https://upload.wikimedia.org/wikipedia/commons/8/8f/Flag_of_Estonia.svg">
	</button>
	</form>
</div>
<div class="col-xs-12 navbar">
	<a href="lander.html"> Esileht</a>
	<span class="vahe">|</span>
	<a href="index.html"> Telli</a>
	<span class="vahe">|</span>
	<a href="about.html">Meist</a>
	<span class="vahe" id="vahe-remove">|</span>
	<a href="https://www.emartauto.ee">Kodulehele</a>
</div>

<script type="text/javascript" src="static/nav.js"></script>