<div class="col-xs-12 main contact">
	<div class="col-xs-12 col-lg-4">
		<h3><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{ contact.phone }}<br><br></h3>
	</div>
	<div class="col-xs-12 col-lg-4">
		<h3><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{ contact.email }}<br><br></h3>
	</div>
	<div class="col-xs-12 col-lg-4">
		<h3><span class="glyphicon glyphicon-home" aria-hidden="true"></span> {{ contact.address }}<br><br></h3>
	</div>
</div>