{% load staticfiles %}
<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
<!-- BOOTSTRAP 3 CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed|Inconsolata|Lato|Exo|Quicksand|Roboto|Slabo+27px|Lobster|Titillium+Web" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static "all.css" %}">
<link rel="stylesheet" type="image" href="{% static "i" %}">
{% if user.is_authenticated %}
<div class="admin">
	<b>
	{% if request.user.is_superuser %}
	<a href="/admin">ADMIN</a>
	<br>
	{% endif %}
	<a href="/admin/logout">LOGOUT</a>
	</b>
</div>
{% endif %}
<div class="container nav">
	<div class="row">
		<div class="col-sm-4 log">
			<img class="logo" src="{% static "i/laslogo.png" %}">	
		</div>
		<div class="col-sm-4 menu">
				<li>
					<a href="/"> {{ navbar_lang.index }}</a>
				</li>
				<li>
					<a href="/browser">{{ navbar_lang.browser }}</a>
				</li>
				<li>
					<a href="/meist">{{ navbar_lang.about }}</a>
				</li>
		</div>
		<div class="flags col-sm-4">
			{% for item in flags %}
				<form class="inline" method="POST" id="lang-form">{% csrf_token %}
					<button class="langbtn" type="submit" name="submit-btn" value="lang">
					<input class="hidden" name="langselect" value="{{ item.lang }}">
					<img class="keelpic" src="{{ item.flag.url }}">
					</button>
				</form>
			{% endfor %}
		</div>
	</div>
</div>



<!-- mobile stuff -->
<span onclick="dnav()" class="displaynav hidden">
	<div class="burger"></div>
	<div class="burger"></div>
	<div class="burger"></div>
</span>
<div class="sidenav hidden">
		<img class="slogo" src="{% static "i/laslogo.png" %}">
		<div onclick="dnav()" id="close" ><i class="glyphicon glyphicon-triangle-left"></i></div>
				<li>
					<a href="/"> {{ navbar_lang.index }}</a>
				</li>
				<li>
					<a href="/browser">{{ navbar_lang.browser }}</a>
				</li>
				<li>
					<a href="/meist">{{ navbar_lang.about }}</a>
				</li>
			<div class="sflags">
			{% for item in flags %}
				<form class="inlines" method="POST" id="lang-form">{% csrf_token %}
					<button class="langbtns" type="submit" name="submit-btn" value="lang">
					<input class="hidden" name="langselect" value="{{ item.lang }}">
					<img class="keelpics" src="{{ item.flag.url }}">
					</button>
				</form>
			{% endfor %}
			</div>
</div>
<script type="text/javascript">
if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) {
	$(".nav").toggleClass("hidden");
	$(".displaynav").toggleClass("hidden");
	function dnav(){
		$(".displaynav").toggleClass("hidden");
		$(".sidenav").toggleClass("hidden")
	};
	$('#vahe-remove').css('opacity','0');
	$('#vahe-remove').css('text-shadow','none');
};
</script>