	{% load staticfiles %}

<!-- jQuery CDN -->	
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{% static "/parallax.js-1.5.0/parallax.js" %}"></script>

<!-- BOOTSTRAP 3 CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed|Inconsolata|Lato|Exo|Quicksand|Roboto|Slabo+27px|Lobster|Titillium+Web" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static "all.css" %}">
<link rel="stylesheet" type="image" href="{% static "i" %}">
{% if user.is_authenticated %}
<div class="admin">
	<b>
		{% if request.user.is_superuser %}
		<a href="/admin">ADMIN</a>
		<br>
		{% endif %}
		<a href="/admin/logout">LOGOUT</a>
	</b>
</div>
{% endif %}



<div class="topnav">

	<div class="row">

		<div class="logo col-sm">

			<a href="/">	<img class="logo-img" src="{% static "i/logo.png" %}">	</a>

		</div>

		<div class="lehed col-lg-11">

			<a href="/">Avaleht</a>
			<a href="/auto">Autotarbed</a>
			<a href="/remont">Töökoda</a>
			<a href="/minimarket">Toidukaubad</a>
			<a href="/valkla">Valkla kauplus</a>
			<a href="/meist">Meist</a>

		</div>

		<div class="keeled col-sm-1">

			<div>

					{% for item in flags %}
						<form class="inline" method="POST" id="lang-form">{% csrf_token %}
							<button class="langbtn" type="submit" name="submit-btn" value="lang">
							<input class="hidden" name="langselect" value="{{ item.lang }}">
							<img class="keelpic" src="{{ item.flag.url }}">
							</button>
						</form>
					{% endfor %}

			</div>

		</div>

	</div>

</div>





<script type="text/javascript">
if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) {
	$('#vahe-remove').css('opacity','0');
	$('#vahe-remove').css('text-shadow','none');
};
</script>