/*Esilehe stiilid ja nav styled */
html{
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
	padding: 0;
	font-family: "roboto";
	position: relative;
	background: #fffdf7;
}
video::-webkit-media-controls-start-playback-button {
    display: none;
}
.video {
	margin: 0 auto;
	position: relative;
	overflow-y: hidden;
}
video {
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}
#log {
	position: absolute;
	height: 10%;
	width: auto;
}
.canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color:rgba(10,10,10,0.4);
  height: 99.5%;
  width: 100%;
}

.contact{
	text-align: center;
	bottom: 0;
	background: rgba(0,0,0,1);
}
.keelpic {
	height: 2vh;
}
.inline {
	height: 40px;
	float: right;
	margin: 5px;
}
.flags {
	display: block;
	line-height: 5vh;
	float: right;
}
.langbtn {
	height: 4vh;
	background: inherit;
	border: none;
	vertical-align: middle;
}
.thumbnail {
	width: 50%;
	margin-top: 2.45vh;
}
.col-xs-6 {
	font-size: 2vh;
}

.nav .row{
	margin: 0;
}
.mid {
	list-style: none;
	text-align: center;
}
.menu li {
	display: inline-block;
	line-height: 5vh;
	margin: 5px auto;
	vertical-align: middle;
	color: white;
}
li a {
	color: #f3f3f3;
	font-size: 2.25vh;
	text-transform: uppercase;
	text-decoration: none;
	font-family: "exo";
}
li a:hover {
	text-decoration: none;
	color: #ffc000;
	height: 100%;
	transition: 0.5s;
	font-size: 2.4vh;
}
.menu {
	display: inline-flex;
	padding: 0;
	margin-top: 1vh;
}

.nav {
	padding: 0;
	background: rgba(0,0,0,0.6);
	height: 8vh;
	width: 100%;
	position: absolute;
}
.mainimg {
	width: 100%;
	height: 80vh;
	object-fit: cover;
}
.logo {
	height: 13vh;
	float: left;
}
.log {
	padding-left: 0;
<<<<<<< HEAD
}


/* Siin on browseri styled */
.langd {
    background: #005eae;
    width: 100%;
}
.langd:after {
	content: " ";
    display:block;
	top:0px;
	left:0px;
    width:100%;
    height:4vh;
    background: linear-gradient(#005caf 0%, transparent 0%), linear-gradient(135deg, #005caf 33.33%, transparent 33.33%) 0 0%, #fffdf7 linear-gradient(45deg, #fffdf7 33.33%, #005caf 33.33%) 0 0%;
    background: -webkit-linear-gradient(#005caf 0%, transparent 0%), -webkit-linear-gradient(135deg, #005caf 33.33%, transparent 33.33%) 0 0%, #fffdf7 -webkit-linear-gradient(45deg, #005caf 33.33%,  33.33%) 0 0%;
    background: -o-linear-gradient(#005caf 0%, transparent 0%), -o-linear-gradient(135deg, #005caf 33.33%, transparent 33.33%) 0 0%, #fffdf7 -o-linear-gradient(45deg, #272220 33.33%, #005caf 33.33%) 0 0%;
    background: -moz-linear-gradient(#005caf 0%, transparent 0%), -moz-linear-gradient(135deg, #005caf 33.33%, transparent 33.33%) 0 0%, #fffdf7 -moz-linear-gradient(45deg, #272220 33.33%, #005caf 33.33%) 0 0%;
    background-repeat: repeat-x;
    background-size: 0px 100%, 50px 15px, 50px 15px;
    }
.langH1 { 
	margin-top: 0;
    margin-bottom: 0;
    color: white;
    text-align: center;
    font-family: "lato";
    font-size: 4vh;
    padding-bottom: 1.5vh;
    }
.maintoode {
	background: #fffdf7;
	-webkit-box-shadow: 0px 10px 50px 5px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 10px 50px 5px rgba(0,0,0,0.45);
	box-shadow: 0px 10px 50px 5px rgba(0,0,0,0.45);
}
.productImage {
	max-width: 15vw;
	height: 29.8vh;
	object-fit: contain;
	transition: 0.3s;
	z-index: 1;
}
.productRow {
	margin-bottom: 10vh;
}

.col-sm-3 {
	text-align: center;
	background: white;
	border-right: 2px solid rgba(25,25,25,0.25);
}
.col-sm-5 {
	padding-right: 0;
	background: inherit;
	z-index: 1;
	width: 75%;
}
.col-sm-5 h4{
	font-size: 3.5vh;
	margin-top: 0;
	font-weight: 600;
	margin-top: 1.5vh;
	color: white;
}
.col-sm-12 .col-sm-4 {
	right: 0;
	bottom: 0;
	position: absolute;
	height: 50%;
	background: white;
	border-left: 5px solid #ffc100;
	border-top: 5px solid #ffc100;
	background: #fffdf7;
	z-index: 2;
}
.productRow .col-sm-12 {
	height: 30vh;
	padding-left: 0;
	padding-right: 0;
	display: flex;
	background: rgba(0, 92, 175, 0.6);
	margin-top: 3vh;
	transition: 0.3s;
	border-bottom: solid 0.1vh #c5c5c5;
	border-top: solid 0.1vh #c5c5c5;
}
.productRow .col-sm-12:hover {
	background: rgba(0, 92, 175, 0.75);
}
.productRow .col-sm-12:nth-of-type(1) {
	margin-top: 0;
}
.itemDescription{
	margin-top: 1.5vh;
	font-size: 2vh;
	font-weight: 500;
    width: 95%;
    vertical-align: middle;
    display: inline-block;
    color: white;
}
strike {
	font-size: 2.25vh;
	font-weight: 700;
	color: #383535;
}
span {
	font-size: 2vh;
	font-weight: 600;
	color: #383535;
}
.currentPrice {
	position: relative;
	top: 5.5vh;
	float: right;
}
.glyphicon-ok {
	font-size: 2.75vh;
	color: #8ae450;
}
.glyphicon-remove {
	font-size: 2.75vh;
	vertical-align: middle;
	color: #ff3535;
}
.glyphicon-eur{
	font-size: 1.65vh;
}
.glyphicon-tags {
	font-size: 1.75vh;
}
.previousPrice {
	font-weight: 500;
	color: #b1b1b1;
}
.precentage {
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	text-align: center;
	background: #ffc000;
}
.vanaKonstant {
	position: absolute;
	top: 1vh;
	text-transform: uppercase;
}
.hindKonstant {
	position: absolute;
	top: 5.5vh;
	right: 0.5vw;
	text-transform: uppercase;
}
.saadavusKonstant {
	position: absolute;
    font-size: 2vh;
    top: 5vh;
}
.tax {
	position: absolute;
	bottom: 0;
	font-size: 1.5vh;
	left: 1.5vh;
	color: white;
}


/*Siin on telefoni nav */
.sidenav li {
	list-style: none;
	font-family: "exo";
	font-size: 1.5vw;
	color: #f3f3f3;
	display: table;
	margin: 0 auto;
	padding-top: 1vh;
	padding-bottom: 1vh;
}
.sidenav li:hover {
	list-style: none;
	font-family: "exo";
	font-size: 1.75vw;
	color: #ffc000;
	transition: 0.3s;
}
.sidenav {
	transition: 2s;
	display: block;
	background: rgba(0,0,0,0.7);
	position: fixed;
	z-index: 0;
	top: 0;
	left: 0;
	height: 100%;
	width: 17.5%;
}
.slogo {
	width: 15vw;
	display: block;
	margin: 0 auto;
}
.langbtns {
	height: 40px;
	background: transparent;
	border: none;
}
.inlines {
	height: 40px;
	margin: 5px;
	display: inline-block;
}
.sflags {
	width: 100%;
	text-align: center;
}
.keelpics {
	height: 2vh;
}
#close{
  position: relative;
  display: inline-block;
  width: 100%;
}
.glyphicon-triangle-left {
	font-size: 5vh;
	color: #f3f3f3;
	float: right;
}
.displaynav {
	display: block;
	position: absolute;
	top: 5%;
	left: 2.5%;
}
.burger {
	width: 35px;
	height: 3px;
	background: white;
	margin: 6px 0;
	border-radius: 10px;
}
.main {
	transition: margin-left 0.5s;
}
.hidden {
	transition: 2s;
	display: none;
}
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top:0;
	bottom: 0;
	background: rgba(0,0,0,0.5);
	z-index: 10;
	text-align: center;
}
=======
}
>>>>>>> 938cc22bcee26c4987ab58c7c49ffb07f9d4f3b3
