.product{
	margin-top: 5vh;
	margin-bottom: 5vh;
	height: 33vh;
}
.title{
	margin-top: 13vh;
	font-size: 4vh;
	text-align: center;
}
.topper{
	height: 0;
	border: 0.2vh solid rgba(0,96,172,1);
	background-color: rgba(0,96,172,1);
	border-radius: 3px;
	z-index: 99;
}
.product-title{
	background-color: rgba(255,255,255,1);
	z-index: 99;
}
.product-title h3{
	text-align: center;
	font-size: 2.5vh;
}
.product-title h4{
	font-size: 1.75vh;
}
.product-title .glyphicon{
	font-size: 1.5vh;
}
.product-title strike{
	font-size: 1.25vh;
}
.product img{
	position: absolute;
	display: block;
	max-width: 100%;
	height: 23vh;
	z-index: -1 !important;
	margin-top: 10vh;
	margin-left: auto !important;
	margin-right: auto !important;
	overflow-x: hidden !important;
	overflow-y: hidden !important;
}
.product-text{
	opacity: 0;
	background-color: rgba(255,255,255,0.6);
	min-height: 100%;
}
.filler{
	background-image: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0));
	height: 2vh;
}
.product-text .misc{
	position: absolute;
	bottom: 0 !important;
}
.product-text p{
	text-align: justify;
	font-size: 1.75vh;
}
.product-text span{
	font-size: 2vh;
}
.percentage{
	border-radius: 1vh;
	padding: 0.5vh 0.5vh 0.5vh 0.5vh;
	position: absolute;
	top: 10vh;
	right: 1vh;
	background-color: rgba(255,25,25,1);
}
.percentage span{
	font-size: 2.5vh
}