.main {
	margin-top: 8vh;
	padding:0;
}
.contactus h1 {
	color: white;
	text-align: center;
	font-family: "lato";
	font-size: 4vh;
	padding-bottom: 1.5vh;
}
.kontakt .btn {
	background: #005caf;
	color: white;
	width: 15vw;
	margin-left: 6.5vw;
}
.contactus {
	padding-top: 3vh;
	background: #005eae;
	width: 100%;
  }
.contactus:after {
	content: " ";
    display:block;
    position: relative;
	top:0px;
	left:0px;
    width:100%;
    height:36px;
    background: linear-gradient(#005caf 0%, transparent 0%), linear-gradient(135deg, #005caf 33.33%, transparent 33.33%) 0 0%, #fffdf7 linear-gradient(45deg, #fffdf7 33.33%, #005caf 33.33%) 0 0%;
    background: -webkit-linear-gradient(#005caf 0%, transparent 0%), -webkit-linear-gradient(135deg, #005caf 33.33%, transparent 33.33%) 0 0%, #fffdf7 -webkit-linear-gradient(45deg, #005caf 33.33%,  33.33%) 0 0%;
    background: -o-linear-gradient(#005caf 0%, transparent 0%), -o-linear-gradient(135deg, #005caf 33.33%, transparent 33.33%) 0 0%, #fffdf7 -o-linear-gradient(45deg, #272220 33.33%, #005caf 33.33%) 0 0%;
    background: -moz-linear-gradient(#005caf 0%, transparent 0%), -moz-linear-gradient(135deg, #005caf 33.33%, transparent 33.33%) 0 0%, #fffdf7 -moz-linear-gradient(45deg, #272220 33.33%, #005caf 33.33%) 0 0%;
    background-repeat: repeat-x;
    background-size: 0px 100%, 9px 27px, 9px 27px;
    margin-bottom: 3vh;
    }
.contactus p {
	color: white;
	padding-bottom: 5vh;
	font-family: "lato";
	font-size: 2vh;
	text-align: center;
	width: 40%;
	margin: 0 auto;
}
.kontakt .form-control {
	outline: none;
	width: 80%;
	transition: 0.5s;
	margin: 3vh auto;
}
.kontakt .form-control:nth-of-type(1) {
	margin-top: 0;
}
.kontakt input {
	height: 6vh;
}
.form-control:focus {
	outline: 0;
	border: solid 1px rgba(30,30,30,0.8);
	box-shadow: none;
	transition: 0.5s;
}
.kontakt textarea {
	height: 15vh;
	width: 100%;
}