{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ contact.name }}</title>

	<link rel="stylesheet" type="text/css" href="{% static 'browser.css' %}">
</head>
{% include "navbar/navbar.html" %}

<!-- browser -->
<div class="col-xs-2"></div>
<div class="col-xs-8 discounts">
	<div class="col-xs-12 discounts__header">
		<h3>Sooduspakkumised</h3>
	</div>
	<div class="col-xs-12 discounts__items">
		{% for toode in tooted %}
		<!-- css overwrite col-lg-2 !!! -->
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 discounts__items__item">
			<div class="col-xs-12 discounts__items__item__img">
				<img src="{{ toode.img.url }}">
			</div>
			<div class="col-xs-12 discounts__items__item__info">
				<h4>{{ toode.name }}</h4>
				<p>{{ toode.description }}</p>
				<h5>{{ toode.price }}<sup>€</sup></h5>
			<!--
				<h6>Enne: {{ toode.prevprice }}€</h6>
			-->
			</div>
		</div>
		{% endfor %}
	</div>
</div>
<div class="col-xs-2"></div>
<!-- end of browser -->

<script type="text/javascript" src="{% static 'browser.js' %}"></script>
{% include "navbar/footer.html" %}
</body>
</html>