{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ contact.name }}</title>
	<link rel="stylesheet" type="text/css" href="{% static "index.css" %}">
</head>
<body>
{% include "navbar/navbar.html" %}

<!-- CAROUSEL -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		{% for i in ads2 %}
		<li data-target="#myCarousel" data-slide-to="{{ i }}"{% if i == 0 %} class="active"{% endif %}></li>
		{% endfor %}
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		{% for ad in ads %}
		<div class="item{% if ad == ads.0 %} active{% endif %}">
			<a href="{{ ad.url }}">
				<img src="{{ ad.img.url }}" alt="Advertisment">
			</a>
		</div>
		{% endfor %}
	</div>

	<!-- Left and right controls -->
	<a class="left carousel-control" href="#myCarousel" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
		<span class="sr-only">{{ lang.eelmine }}</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
		<span class="sr-only">{{ lang.jargmine }}</span>
	</a>
</div>
<!-- YELLOW CAROUSEL BOTTOM COVER -->
<div class="carousel-bottom">
	<div class="carousel-bottom__triangle"></div>
	<div class="carousel-bottom__square"></div>
</div>
<!-- END OF CAROUSEL -->
<!-- ABOUT US -->
<div class="col-xs-12 col-sm-2"></div>
<div class="col-xs-12 col-sm-8 about">
	{% for i in icons %}
	<div class="col-xs-12 col-sm-4 about__item">
		<div class="col-xs-3 about__item__icon">
			<span class="glyphicon glyphicon-{{ i.logo }}" aria-hidden="true"></span>
		</div>
		<div class="col-xs-9 about__item__header">
			<h3>{{ i.header }}</h3>
		</div>
		<div class="col-xs-12 about__item__description">
			<p>{{ i.text|linebreaks }}</p>
		</div>
		<div class="col-xs-12 about__item__link">
			<a class="about__item__link" href="/meist">{{ lang.uuri_lahemalt }}</a>
		</div>
	</div>
	{% endfor %}
</div>
<div class="col-xs-12 col-sm-2"></div>
<!-- END OF ABOUT US -->
<!-- DISCOUNTS -->
<div class="col-xs-12">
	<div class="col-xs-12 col-sm-2"></div>
	<div class="col-xs-12 col-sm-8 discounts">
		<div class="col-xs-12 col-sm-6 discounts__header">
			<h3>{{ lang.sooduspakkumised }}</h3>
		</div>
		<div class="col-xs-12 col-sm-6 discounts__link">
			<a href="/browser">{{ lang.vaata_koiki_pakkumisi }}</a>
		</div>
		<div class="col-xs-12 discounts__items">
			{% for toode in tooted %}
			<div class="col-xs-12 col-sm-4 discounts__items__item">
				<div class="col-xs-12 col-sm-6 discounts__items__item__img">
					<img src="{{ toode.img.url }}">
				</div>
				<div class="col-xs-12 col-sm-6 discounts__items__item__info">
					<h3>{{ toode.name }}</h3>
					<p>{{ toode.description }}</p>
					<h4>{{ toode.price }} <sup>€</sup></h4>
					<h5>{{ lang.enne }}: {{ toode.prevprice }}€</h5>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="col-xs-12 col-sm-2"></div>
</div>
<!-- END OF DISCOUNTS -->


<script type="text/javascript" src="{% static 'index.js' %}"></script>

{% include "navbar/footer.html" %}
</body>
</html>