{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ contact.name }}</title>

	<link rel="stylesheet" type="text/css" href="{% static "table.css" %}">
</head>
<body>
{% include "navbar/navbar.html" %}

<div class="col-xs-12 main">
	<a href="/login">Tagasi!</a>
<table class="table">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">nimi</th>
			<th scope="col">kontakt</th>
			<th scope="col">automark</th>
			<th scope="col">varuosade kood</th>
			<th scope="col">nimetus</th>
			<th scope="col">hind</th>
			<th scope="col">kogus</th>
			<th scope="col">tellitud</th>
			<th scope="col">saabus</th>
			<th scope="col">valjus</th>
			<th scope="col">ettemaks</th>
			<th scope="col">aeg</th>
			{% if request.user.is_superuser %}<th scope="col">kes tegi</th>{% endif %}
			<th scope="col"></th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		{% if request.session.varuosad_priority == 'M' %}
		<h1>Tuhi!</h1>
		{% else %}
		{% if request.session.varuosad_priority == 'L' or request.session.varuosad_priority == 'K' %}
		<tr>
			<form method="POST"> {% csrf_token %}
				<th scope="row">{{ new_nr }}<input type="hidden" name="nr" value="{{ new_nr }}"></th>
				<td><input type="text" name="nimi" value="{{ item.nimi }}"></td>
				<td><input type="text" name="kontakt" value="{{ item.kontakt }}"></td>
				<td><input type="text" name="automark" value="{{ item.automark }}"></td>
				<td><input type="text" name="varuosade_kood" value="{{ item.varuosade_kood }}"></td>
				<td><input type="text" name="nimetus" value="{{ item.nimetus }}"></td>
				<td><input type="text" name="hind" value="{{ item.hind }}"></td>
				<td><input type="text" name="kogus" value="{{ item.kogus }}"></td>
				<td><input type="text" name="tellitud_kuup" value="{{ item.tellitud_kuup }}"></td>
				<td><input type="text" name="saabus_kuup" value="{{ item.saabus_kuup }}"></td>
				<td><input type="text" name="valja_kuup" value="{{ item.valja_kuup }}"></td>
				<td><input type="text" name="ettemaks" value="{{ item.ettemaks }}"></td>
				<td><input type="text" name="aeg" value="{% now "SHORT_DATE_FORMAT" %}"></td>
				{% if request.user.is_superuser %}<th scope="col"><input type="text" name="kes_tegi" value="{{ item.kes_tegi }}"></th>{% else %}<input type="hidden" name="kes_tegi" value="{{ request.session.worker }}">{% endif %}
				<th scope="col"><button type="submit" name="submit-btn" value="new-{{ item.nr }}~{{ item.aeg }}"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button></th>
				<th scope="col"></th>
			</form>
		</tr>
		{% endif %}
		{% for item in items %}
		<tr id="A{{ item.nr }}-{{ item.aeg|cut:"/" }}-plain">
			<th scope="row">{{ item.nr }}</th>
			<td>{{ item.nimi }}</td>
			<td>{{ item.kontakt }}</td>
			<td>{{ item.automark }}</td>
			<td>{{ item.varuosade_kood }}</td>
			<td>{{ item.nimetus }}</td>
			<td>{{ item.hind }}</td>
			<td>{{ item.kogus }}</td>
			<td>{{ item.tellitud_kuup }}</td>
			<td>{{ item.saabus_kuup }}</td>
			<td>{{ item.valja_kuup }}</td>
			<td>{{ item.ettemaks }}</td>
			<td>{{ item.aeg }}</td>
			{% if request.user.is_superuser %}<th scope="col">{{ item.kes_tegi }}</th>{% endif %}
			{% if request.session.varuosad_priority == 'K' %}
			<th scope="col"><button id="A{{ item.nr }}-{{ item.aeg|cut:"/" }}-edit"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button></th>
			<th scope="col"><form method="POST">{% csrf_token %}<button type="submit" name="submit-btn" value="remove-{{ item.nr }}~{{ item.aeg }}"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></button></form></th>
			{% endif %}
		</tr>
		<tr id="A{{ item.nr }}-{{ item.aeg|cut:"/" }}-editor" class="hidden">
			<form method="POST"> {% csrf_token %}
				<th scope="row">{{ item.nr }}<input type="hidden" name="nr" value="{{ item.nr }}"></th>
				<td><input type="text" name="nimi" value="{{ item.nimi }}"></td>
				<td><input type="text" name="kontakt" value="{{ item.kontakt }}"></td>
				<td><input type="text" name="automark" value="{{ item.automark }}"></td>
				<td><input type="text" name="varuosade_kood" value="{{ item.varuosade_kood }}"></td>
				<td><input type="text" name="nimetus" value="{{ item.nimetus }}"></td>
				<td><input type="text" name="hind" value="{{ item.hind }}"></td>
				<td><input type="text" name="kogus" value="{{ item.kogus }}"></td>
				<td><input type="text" name="tellitud_kuup" value="{{ item.tellitud_kuup }}"></td>
				<td><input type="text" name="saabus_kuup" value="{{ item.saabus_kuup }}"></td>
				<td><input type="text" name="valja_kuup" value="{{ item.valja_kuup }}"></td>
				<td><input type="text" name="ettemaks" value="{{ item.ettemaks }}"></td>
				<td><input type="hidden" name="aeg" value="{{ item.aeg }}">{{ item.aeg }}</td>
				{% if request.user.is_superuser %}<th scope="col"><input type="text" name="kes_tegi" value="{{ item.kes_tegi }}"></th>{% else %}<input type="hidden" name="kes_tegi" value="{{ request.session.worker }}">{% endif %}
				<th scope="col"><button type="submit" name="submit-btn" value="edit-{{ item.nr }}~{{ item.aeg }}"><span id="A{{ item.nr }}-{{ item.aeg|cut:"/" }}-edit" class="glyphicon glyphicon-ok" aria-hidden="true"></span></button></th>
				<th scope="col"></th>
			</form>
		</tr>
		<script type="text/javascript">
			$('#A{{ item.nr }}-{{ item.aeg|cut:"/" }}-edit').click(function(){
				$('#A{{ item.nr }}-{{ item.aeg|cut:"/" }}-plain').toggleClass('hidden');
				$('#A{{ item.nr }}-{{ item.aeg|cut:"/" }}-editor').toggleClass('hidden');
			});
		</script>
		{% endfor %}
		{% endif %}
	</tbody>
</table>

</div>

{% include "navbar/footer.html" %}
</body>
</html>