html{
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
	padding: 0;
}

.logo-img {
	height: 8vh;
	max-width: auto;
}

.topnav {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
	text-align: center;
	padding-top: 2.2vh;
	width: 100%;
	height: 8vh;
	z-index: 99999;
}

.topnav a {
	margin: 4vh;
	color: #f3f3f3;
	font-size: 2.25vh;
	text-transform: uppercase;
	text-decoration: none;
	font-family: "exo";
	vertical-align: middle;
}

.topnav a:hover {
	text-decoration: none;
	color: #ffc000;
	height: 100%;
	transition: 0.5s;
	font-size: 2.4vh;
}

.logo {
	position: fixed;
	top: 0vh;
	left: 0vh;
	z-index: 999;
}

.bigimg {
	width: 100%;
	height: auto;
	background-attachment: fixed; !important
}

.hidden {
	display: none;
}

.contact {
	text-align: center;
	bottom: 0;
	background: rgba(0,0,0,1);
	color: rgba(255,255,255,0.7);
	font-family: "roboto";
	display: inherit;
	vertical-align: middle;
}

/* lang-nuppude värk */

.keelpic {
	height: 2vh; 
}

.langbtn {
	background: inherit;
	border: none;
	vertical-align: middle;
	height: 4vh;
}

.keeled {
	display: block;
	vertical-align: middle;
}

.inline {
	float: right;
	margin-right: 5px;
}

/*

.langbtn {
	height: 4vh;
	background: inherit;
	border: none;
	vertical-align: middle;
}

.keeled {
	background-color: rgba(0,0,0,0);
	display: block;
	line-height: 5vh;
	float: right;
	vertical-align: middle;
}

.inline {
	float: right;
	margin: 5px;
}

*/

.sisu {
	padding: 5vw;
}

.sisu .lk-nimi {
	font-family: "exo";
	text-align: center;
	margin-bottom: 10vh;
}

.rida {
	margin-bottom: 10vh;
	display: inline-block;
	font-family: "exo";
}

.rida h1 {
	text-align: center;
}

.parallax-window {
    min-height: 600px;
    background: transparent;
}
