{% load staticfiles %}
<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
<!-- BOOTSTRAP 3 CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed|Inconsolata|Lato|Quicksand|Roboto|Slabo+27px|Lobster|Titillium+Web" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static "all.css" %}">
{% if user.is_authenticated %}
<div class="admin">
	<b>
	{% if request.user.is_superuser %}
	<a href="/admin">ADMIN</a>
	<br>
	{% endif %}
	<a href="/admin/logout">LOGOUT</a>
	</b>
</div>
{% endif %}
<div class="flags">
	{% for item in flags %}
	<form class="inline" method="POST" id="lang-form">{% csrf_token %}
	<button type="submit" name="submit-btn" value="lang">
		<input class="hidden" name="langselect" value="{{ item.lang }}">
		<img src="{{ item.flag.url }}">
	</button>
	</form>
	{% endfor %}
</div>
<div class="col-xs-12 navbar">
	<a href="/"> {{ navbar_lang.index }}</a>
	<span class="vahe">|</span>
	<a href="/about">{{ navbar_lang.about }}</a>
</div>

<script type="text/javascript">
if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) {
	$('#vahe-remove').css('opacity','0');
	$('#vahe-remove').css('text-shadow','none');
};
</script>