.admin{
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 4vh;
	z-index: 9999999;
}
.admin b a{
	color: red !important;
}
.admin b a:hover{
	opacity: 0.2;
}
.hidden{
	display: none;
}
.main-admin{
	background-color: rgba(254,254,254,0.6);
	font-size: 3vh;
}
.main-admin .glyphicon{
	font-size: 4vh;
	margin-top: 0.5vh;
}
body{
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.meeter{
	height: 80vh;
}
.meeter h1{
	font-family: Lobster;
	font-size: 10vh;
	text-shadow: 3px 3px rgba(0,0,0,0.6);
	color: white;
	text-align: center;
	margin-top: 25vh;
}
.meeter h2{
	font-family: Lobster;
	font-size: 4vh;
	text-shadow: 2px 2px rgba(0,0,0,0.6);
	color: white;
	text-align: center;
}
#lander{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.main{
	background-color: rgba(254,254,254,1);
	padding: 0 10vw 0 10vw;
}

.navbar{
	z-index: 999;
	position: fixed;
	top: 0;
	font-size: 4vh;
	font-family: Lobster;
	color: white;
	text-align: center;
	text-shadow: 2px 2px rgba(0,0,0,0.6);
    transition: 0.5s;
    border-bottom: none;
    border-top: none;
    border-radius: 0 0 0 0;
    padding-bottom: 1vh;

}
.navbar a{
	color: white;
}
.navbar:hover{
    background-color: rgba(254,254,254,0.4);
}
.glyphicon-shopping-cart{
	z-index: 999999;
	position: fixed !important;
	top: 1vh !important;
	left: 1vh;
	font-size: 6vh;
	color: white;
	text-shadow: 2px 2px rgba(0,0,0,0.6);
	cursor: pointer;
}
.glyphicon-plus{
	display: none;
	z-index: 999999;
	position: fixed !important;
	top: 2vh !important;
	left: 8vh;
	font-size: 4vh;
	color: rgba(200,200,254,1);
	text-shadow: 2px 2px rgba(0,0,0,0.6);
	cursor: pointer;
}
.shoppinglist{
	z-index: 999998;
	position: fixed;
	background-color: rgba(254,254,254,1);
	min-width: 50vw !important;
	width: auto;
	min-height: 100vh;
	padding-left: 8vh;
	padding-right: 4vh;
}
.pressed{
	color: rgba(50,50,50,1);
}
.shoppinglist h2{
	font-size: 3.5vh;
	font-family: Lobster;
}
.shoppinglist b{
	float: right;
	margin-left: 1vh;
}
.shoppinglist-bg{
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.6);
	z-index: 999997;
}
.shoppinglist .list{
	border-bottom: solid;
}
#cart-remove{
	position: fixed;
	color: red;
	cursor: pointer;
	top: 8vh;
	left: 1vh;
	font-size: 6vh;
	text-shadow: 2px 2px rgba(0,0,0,0.6);
}
.list{
	display: block;
}



.checkout{
	background-color: rgba(254,254,254,1);
	border-radius: 15px;
	margin-top: 12vh;
	box-shadow: 3px 3px rgba(0,0,0,0.4);
}
.checkout h1{
	font-size: 7vh;
	font-family: Lobster;
	border-bottom: 2px black;
	text-align: center;
}
.sisend{
	margin-top: 5vh;
	display: block;
	margin-left: auto;
	text-align: center;
}
.sisend button{
	font-family: Lobster;
}
.sisend button,
.sisend input{
	font-size: 3vh;
	border-radius: 5px;
}
.checkout-list h2{
	font-family: Lobster;
	font-size: 4vh;
}
.checkout-list h2 b{
	float: right;
}
#hind-kokku{
	font-family: Lobster;
	font-size: 4vh;
	text-align: center;
}
#maksa{
	font-family: Lobster;
	font-size: 3vh;
	border-radius: 5px;
}

.modal-body h1{
	font-family: Lobster;
	font-size: 5vh;
	text-align: center;
}



.langs{
	position: absolute;
	top: 1vh;
	right: 1vh;
	background-color: rgba(254,254,254,0.4);
	border-radius: 5px;
	width: auto;
	z-index: 9999;
}
.langs button{
	padding: 0 0 0 0;
	border: none;
	margin: 0.5vh 0.5vh 0.5vh 0.5vh;
}
.langs img{
	width: 6vh;
	height: 4vh;
	cursor: pointer;
}
.inline{
	float: right;
}



/* foooter */
.contact{
	text-align: center;
	padding-top: 15vh !important;
}
.contact p{
	margin-bottom: 10vh;
}
.contact h3{
	font-family: Lobster;
	font-size: 5vh;
}