.toit_item{
	border-style: solid;
	transition: 1s;
}
.toit_item:hover{
	background-color: rgba(230,230,230,1);
}
.toit_item h1,
.toit_item h3{
	text-align: center;
}
.toit_item h2{
	font-size: 2.5vh
}
.toit_item h1{
	font-size: 3.5vh;
}
.toit_item img{
	width: 100%;
}

.toit_item h3{
	position: absolute;
	right: 5px;
	top: 5px;
	background-color: rgba(254,254,254,0.6);
	border-radius: 10px;
	border-left: 2px black;
}