.main{
	padding-top: 10vh !important;
}
.main h2{
	font-family: Lobster !important;
	font-size: 7vh;
}
.main h3{
	font-family: Lobster !important;
	font-size: 5vh;
}
.main p{
	font-size: 2.5vh;
	text-align: justify;
}
.auto{
	width: 100%;
}
.center{
	text-align: center !important;
}
.menyypilt{
	margin-top: 5vh;
}
.reg{
	color: #333;
	text-decoration: underline;
}