{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ contact.name }}</title>

	<link rel="stylesheet" type="text/css" href="{% static "browser.css" %}">
</head>
{% include "navbar/navbar.html" %}
<div class="langd">
	<h1 class="langH1">{{ lang.h1 }}</h1>
</div>
<div class="container maintoode">
		{% if tooted != '-' %}
			{% for item in tooted %}
		<div class="row productRow">
			<div class="col-sm-12">
				<div class="col-sm-3">
					<img class="productImage" src="{{ item.img.url }}">
				</div>
				<div class="col-sm-5">
					<h4>{{ item.name }}</h4>
					<span class="itemDescription">{{ item.description }}</span>
					<span class="tax"> {{ lang.kaibeMaks }}</span>
				</div>
				<div class="col-sm-4">
					<span class="vanaKonstant">{{ lang.vanaHind }}: <strike class="previousPrice">{{ item.prevprice }}€</strike></span>
					<span class="precentage">-{{ item.protsent }} </span>
					<span class="hindKonstant"><i class="glyphicon glyphicon-tags"></i> {{ lang.uusHind }}: {{ item.price }}€</span>
					{% if item.laoseis %}
						<span class="saadavusKonstant">{{ lang.saadavausPoes }}: <i class="glyphicon glyphicon-ok"></i></span>
					{% else %}
						<span class="saadavusKonstant">{{ lang.saadavausPoes }}: <i class="glyphicon glyphicon-remove"></i></span>
					{% endif %}
				</div>
				<div class="percentage" id="{{ item.name|cut:' ' }}-percentage"><span>-{{ item.protsent }} </span></div>
				<div class="col-xs-12 filler"></div>
				<img src="{{ item.img.url }}">
				<div class="product-text" id="{{ item.name|cut:' ' }}-desc">
					<p>{{ item.description }}</p>
					<br><br>
					<div class="misc">
						<span> {{ lang.kaibeMaks }}</span>
						<br>
						{% if item.laoseis %}
							<span>{{ lang.saadavausPoes }}: <i class="glyphicon glyphicon-ok"></i></span>
						{% else %}
							<span>{{ lang.saadavausPoes }}: <i class="glyphicon glyphicon-remove"></i></span>
						{% endif %}
					</div>
				</div>
				
				
				
				
			</div>
		</div>
			<script type="text/javascript">
				$("#{{ item.name|cut:' ' }}").hover(function(){
				    $('#{{ item.name|cut:' ' }}-desc').animate({
							opacity: 1
						}, 150, function() {
							// Animation complete.
						});
				    $('#{{ item.name|cut:' ' }}-percentage').animate({
							opacity: 0
						}, 150, function() {
							// Animation complete.
						});
				    }, function(){
				    $('#{{ item.name|cut:' ' }}-desc').animate({
							opacity: 0
						}, 150, function() {
							// Animation complete.
						});
				    $('#{{ item.name|cut:' ' }}-percentage').animate({
							opacity: 1
						}, 150, function() {
							// Animation complete.
						});
				});
			</script>
			{% endfor %}
		{% endif %}
</div>
<script type="text/javascript" src="{% static "browser.js" %}"></script>
{% include "navbar/footer.html" %}
</body>
</html>