{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ contact.name }}</title>
	<link rel="stylesheet" type="text/css" href="{% static "all.css" %}">
</head>
<body>
{% include "navbar/navbar.html" %}
<div class="video">
	<video width="100%" height="50%" autoplay controls muted loop>
		<source src="{% static "i/front.mp4" %}" type="video/mp4">
	</video>
	<canvas class="canvas" id="canv"></canvas>
</div>
<div class="container cont">
	<div class="row">
		<div class="col-xs-6">
			<h1>{{ lang.h1 }}</h1> 
			<p>{{ lang.content }}</p>
		</div>
		<div id="img" class="col-xs-6 thumbnail">
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
	</div>
</div>
<script type="text/javascript">
	var video = document.getElementsByTagName("video")[0];
	var cv = document.getElementById("canv");
	window.onload = function() { 
		video.removeAttribute("controls") 		
		cv.width = video.offsetWidth;
		cv.height = video.clientHeight;
		const posx = video.offsetWidth/2.8;
		const posy = video.offsetHeight/3;
		var ctx = cv.getContext("2d");
		var img = document.getElementsByClassName("logo")[0];
		ctx.globalAlpha = 0.8;
		ctx.drawImage(img, posx, posy, window.innerWidth/5, window.innerHeight/4.5)
};

</script>

{% include "navbar/footer.html" %}
</body>
</html>