{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ contact.name }}</title>

	<link rel="stylesheet" type="text/css" href="{% static ".css" %}">
</head>
<body style="background-image: url('{% static "" %}');">
{% include "navbar/navbar.html" %}

<div class="col-xs-12 main" style="margin-top: 10vh">
	
	{% if request.user.is_superuser %}
	{% else %}
	<form method="POST">{% csrf_token %}
		<button type="submit" name="submit-btn" value="logout">log out</button>
	</form>
	{% endif %}
{% if request.user.is_superuser %}
	<div class="col-xs-12">
		<div class="col-xs-3">tootajad</div>
	</div>
{% endif %}
	<h1><a href="/kalender">kalender</a><br><a href="/tookoda">tookoda</a><br><a href="/varuosad">varuosad</a><br></h1>

</div>

{% include "navbar/footer.html" %}
</body>
</html>