{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ contact.name }}</title>

	<link rel="stylesheet" type="text/css" href="{% static ".css" %}">
</head>
<body style="background-image: url('{% static "" %}');">
{% include "navbar/navbar.html" %}
<link rel="stylesheet" type="text/css" href="{% static "meist.css" %}">
<div class="col-xs-12 main">
	<div class="contactus">
		<h1>{{ lang.msg }}</h1>
		<p>KLSDGLKASGDLK GKLSDAKGKLADÖSG GKÖLSDA KGKÖLD ASGKLS KDLGKÖL KAGLKLD GKA GKÖDAKG GÖSLADKGD KÖAKGD AKDÖG KÖGÖ AÖLKD </p>
	</div>
	{% if request.session.lang == "est" %}
	<div class="col-xs-4">
		<p></p>
	</div>
	<div class="col-xs-8">
		<div class="form-group kontakt">
			<form method="POST" action="/meist">
				<input class="form-control" type="text" name="nimi" placeholder="Nimi">
				<input class="form-control" type="text" name="email" placeholder="E-maili aadress">
				<input class="form-control" type="text" name="subject" placeholder="Pealkiri">
				<textarea class="form-control" name="sonum" placeholder="Sinu Sõnum"></textarea>
				<button class="btn">Saada</button>
			</form>
		</div>
	</div>
	{% else %}
	<div class="col-xs-8">
		<div class="form-group kontakt">
			<form method="POST" action="/meist">
				<input class="form-control" type="text" name="nimi" placeholder="Name">
				<input class="form-control" type="text" name="email" placeholder="E-mail Address">
				<input class="form-control" type="text" name="subject" placeholder="Subject">
				<textarea class="form-control" name="sonum" placeholder="Your message"></textarea>
			</form>
		</div>
	</div>
	{% endif %}
<div class="mapouter"><div class="gmap_canvas"><iframe width="820px" height="auto" id="gmap_canvas" src="https://maps.google.com/maps?q=T%C3%A4hesaju%20tee%2027&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.crocothemes.net">crocothemes.net</a></div><style>.mapouter{text-align:right;height:600px;width:820px;}.gmap_canvas {overflow:hidden;background:none!important;height:600px;width:820px;}</style></div>
</div>

{% include "navbar/footer.html" %}
</body>
</html>