<div class="col-xs-12 main contact">
	<!--
	<h2 class="center">V]ta meiega yhendust</h2>
	<p class="center">Mooduseid meiega kontakteerumiseks</p>
-->
	<div class="col-xs-12 col-lg-4">
		<h3><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{ contact.phone | linebreaksbr }}<br><br></h3>
	</div>
	<div class="col-xs-12 col-lg-4">
		<h3><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{ contact.mail | linebreaksbr }}<br><br></h3>
	</div>
	<div class="col-xs-12 col-lg-4">
		<h3><span class="glyphicon glyphicon-home" aria-hidden="true"></span> {{ contact.address | linebreaksbr }}<br><br></h3>
	</div>
</div>