{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>{{ contact.name }}</title>

	<link rel="stylesheet" type="text/css" href="{% static ".css" %}">

</head>


<body style="background-image: url('{% static "" %}');">
{% include "navbar/navbar.html" %}

<div class="parallax-window" data-parallax="scroll" data-image-src="{% static "i/mcqueen.jpg" %}"></div>

<div class="col-xs-12 sisu">

	<h1 class="lk-nimi">Avaleht</h1>

	<div class="rida">

		<div class="col-xs-6">

			<h1>Emart Autokaubad</h1>

			<p>OÜ Emart Auto alustas tegevust 1996. aastal auto varuosade jaemüügiga Kuusalu alevikus, Harjumaal. 

			Autokaupade pood müüb erinevaid autotarvikuid, autorehve, jalgrattaid ja varuosi, tööriistu ning rakiseid. Autokaupade pood asub kahe teise poe (Emart Minimarketi ning Emart Töökoja) vahel.</p>

		</div>

		<div class = "col-xs-6">

			<h1>Emart Töökoda</h1>

			<p>1996 mõni kuu, peale varuosade kaupluse avamist asutati varuosade kaupluse juurde ka autohoolduse töökoda. 

			Töökoja tööd jagunevad nelja kategooriasse: aiatöömasinate ja seadmete remont, jalgrataste remont, rehvitööd, autoremondi- ja hooldustööd, diagnostika ja elektritööd. Peamiselt keskendub töökoda autoremondile. Emart Töökoda asub sisehoovist vaadates peamaja vasakus osas.</p>

		</div>
	</div>

	<div class="rida">

		<div class="col-xs-6">

			<h1>Emart Minimarket</h1>

			<p>1997. aastal lisandus tegevusvaldkonda toidukaubandus ja kiirtoitlustus. 

			Minimarket müüb lisaks alkoholile, jäätisele, tubakale ning snäkkidele ka veel kiirtoitu. Näiteks saab tellida klient omale burgeri, mis valmib vaid mõne minutiga. Samuti saab osta koha pealt sooja kohvi! Emart Minimarket asub sisehoovist vaadates hoone paremale jäävas osas. Toidupoe kõrvale jääb terass.</p>

		</div>

		<div class = "col-xs-6">

			<h1>Valkla Toidukauplus</h1>

			<p>1998. aastal asutasime toidukaupluse Valkla külas. Kauplus on mõeldud minimarketi või toidupoena kõikidele kohalikele. 

			Pakume Omniva postipunkti teenust. Kaupluses müüakse alkoholi, suitsu, kergemaid suupisteid, alkoholivabu jooke, piimatooteid, snäkke, jne... Valkla Toidukauplus asub Valkla külas, Kuusalu lähedal, Harju maakonnas.</p>

		</div>
	</div>

</div>

{% include "navbar/footer.html" %}
</body>

</html>