.toode {
	background-color: rgba(100, 120, 240, 0.2);
	transition: 2s;
	height: 33vh !important;
}

.toode:hover {
	background-color: rgba(100, 120, 240, 0.6);
}


.toode h1 {
	font-size: 5vh;
	font-family: Roboto;
	text-align: center;

}

.toode h1:hover {
	color: rgba(0, 0, 0, 0.6);
}

.toode img {
	display: block;
    margin-left: auto;
    margin-right: auto;
	max-height: 10vh;
}