{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="utf-8">
		<title>Ingvar</title>

		<link rel="stylesheet" type="text/css" href="{% static "index.css" %}">
</head>
<body style="background-image: url('{% static "" %}');">
{% include "navbar/navbar.html" %}

<div class="col-xs-12">
{% for i in Tooted %}

<div class="toode col-xs-12 col-lg-4">
	<h1> {{ i.0 }} - <b> {{ i.1 }}€</b></h1>
	<img src="{{ i.2 }}">	
</div>

{% endfor %}
</div>

<form method="POST">{% csrf_token %}
	<input class="form-control" type="text" name="kasutaja" placeholder="kasutajanimi">
	<input class="form-control" type="password" name="parool1" placeholder="salasõna">
	<input class="form-control" type="password" name="parool2" placeholder="korda salasõna">
	<button class="btn btn-light" type="submit" name="submit-button" value="pass_form">Registreeri</button>
</form>

<form method="POST">{% csrf_token %}
	<input class="form-control" type="date" name="Nimi" value="">
	<button class="btn btn-light" type="submit" name="submit-button" value="form1">Submit</button>
</form>

</body>
</html>
