{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>EMART</title>

	<link rel="stylesheet" type="text/css" href="{% static "about.css" %}">
</head>
<body style="background-image: url('{% static "bg.jpg" %}');">
{% include "navbar/navbar.html" %}
<div class="col-xs-12" id="lander">
	<div class="col-xs-12 meeter">
		<h1>{{ aboutlang.meist | linebreaksbr }}</h1>
	</div>
	<div class="main col-xs-12">
		<h1 class="title">{{ aboutlang.kaardil | linebreaksbr }}</h1>
		<h2 class="subtitle">{{ aboutlang.kaardil2 | linebreaksbr }}</h2>

		<div id="googleMap" style="width:100%;height:400px;"></div>

		<script>
		function myMap() {
			var mapProp= {
			    center:new google.maps.LatLng(Number('{{ contact.gmaps_x | linebreaksbr }}'),Number('{{ contact.gmaps_y | linebreaksbr }}')),
			    zoom:Number('{{ contact.gmaps_zoom | linebreaksbr }}'),
			};
			var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
			var marker = new google.maps.Marker({
				position: {lat: Number('{{ contact.gmaps_x | linebreaksbr }}'), lng: Number('{{ contact.gmaps_y | linebreaksbr }}')},
				map: map,
				title: 'Emart'
			});
		};

		</script>

		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1Pzu_gWo2kcH1K-5mq9E6_XmiOHSWQ-0&callback=myMap"></script>
	</div>
	<div class="main col-xs-12">
		<h1 class="title">{{ aboutlang.kontakt | linebreaksbr }}</h1>
		<h2 class="subtitle">{{ aboutlang.kontakt2 | linebreaksbr }}</h2>

		<div class="col-xs-12 col-lg-3"></div>
		<div class="col-xs-12 col-lg-6 contactform">
			<form method="POST"> {% csrf_token %}
				<div class="col-xs-12"><input placeholder="{{ aboutlang.kontakt_nimi | linebreaksbr }}" name="name"></div>
				<div class="col-xs-12"><input placeholder="{{ aboutlang.kontakt_tel | linebreaksbr }}" name="tel"></div>
				<div class="col-xs-12"><input placeholder="{{ aboutlang.kontakt_mail | linebreaksbr }}" name="mail"></div>
				<div class="col-xs-12"><textarea rows="4" name="letter" placeholder="{{ aboutlang.kontakt_sisu | linebreaksbr }}"></textarea></div>
				<button type="submit" name="submit-btn" value="contactform">{{ aboutlang.saada | linebreaksbr }}</button>
			</form>
		</div>
		<div class="col-xs-12 col-lg-3"></div>

	</div>

{% include "navbar/footer.html" %}

</body>
</html>