{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>EMART</title>

	<link rel="stylesheet" type="text/css" href="{% static ".css" %}">
</head>
<body style="background-image: url('{% static "bg.jpg" %}');">
{% include "navbar/navbar.html" %}
<div class="col-xs-12 col-lg-3"></div>
<div class="col-xs-12 col-lg-6 checkout">
	<form method="POST"> {% csrf_token %}
		<h1>{{ lang.checkout | linebreaksbr }}</h1>
		<input class="hidden" name="tellimus" id="tellimus" value="">
		<div class="col-xs-12 checkout-list">
			{% for item in tellimused %}
			<h2>{{ item.nimi }}<b>{{ item.hind }}€</b></h2>
			<script type="text/javascript">
				$('#tellimus').val($('#tellimus').val()+'{{ item.nimi }}; ')
			</script>
			{% endfor %}
		</div>
		<h2 id="hind-kokku">{{ lang.kokku | linebreaksbr }} <b>{{ hind }}€</b></h2>
		<div class="col-xs-12 sisend"><input type="text" name="eesnimi" placeholder="{{ lang.eesnimi | linebreaksbr }}"></div>
		<div class="col-xs-12 sisend"><input type="text" name="perenimi" placeholder="{{ lang.perenimi | linebreaksbr }}"></div>
		<div class="col-xs-12 sisend"><input type="text" name="tel_nr" placeholder="{{ lang.tel_nr | linebreaksbr }}"></div>
		<div class="col-xs-12 sisend"><button type="Sumbit" name="submit-btn" value="tellimus">{{ lang.maksa | linebreaksbr }}</button></div>
		.<br>
	</form>
</div>
<div class="col-xs-12 col-lg-3"></div>
</body>
</html>