{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>EMART</title>

	<link rel="stylesheet" type="text/css" href="{% static "index.css" %}">
</head>
<body style="background-image: url('{% static "bg.jpg" %}');">
{% include "navbar/navbar.html" %}
{% if user.is_authenticated %}
<div class="col-xs-12 main-admin">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Eesnimi</th>
				<th scope="col">Perenimi</th>
				<th scope="col">Tel_nr</th>
				<th scope="col">Tellimus</th>
				<th scope="col">Hind</th>
				<th scope="col">Valmis?</th>
				<th scope="col">Järel käidud?</th>
				<th scope="col">Tellimuse aeg</th>
			</tr>
		</thead>
		<tbody>
			{% for item in tellimused %}
			<form method="POST">{% csrf_token %}
				<input class="hidden" name="aeg" value="{{ item.aeg }}">
				<input class="hidden" name="perenimi" value="{{ item.perenimi }}">
				<input class="hidden" name="toit" value="{{ item.toit }}">
				<tr {% if item.valmis == 1 and item.jarel == 1 %} style="opacity: 0.3" {% endif %} >
					<td>{{ item.eesnimi }}</td>
					<td>{{ item.perenimi }}</td>
					<td>{{ item.tel_nr }}</td>
					<td>{{ item.toit }}</td>
					<td>{{ item.hind }}</td>
					<td>
						{% if item.valmis == 0 %}
						<button type="submit" name="submit-btn" value="valmis-REMOVE" >
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
						{% else %}
						<button type="submit" name="submit-btn" value="valmis-OK" >
							<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
						</button>
						{% endif %}
					</td>
					<td>
						{% if item.jarel == 0 %}
						<button type="submit" name="submit-btn" value="jarel-REMOVE" >
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
						{% else %}
						<button type="submit" name="submit-btn" value="jarel-OK" >
							<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
						</button>
						{% endif %}
					</td>
					<td>{{ item.aeg }}</td>
				</tr>
			</form>
			{% endfor %}
		</tbody>
	</table>
</div>
<script type="text/javascript">
	setInterval(function(){ location.reload(); }, 15000);
</script>

{% else %}

<div class="col-xs-12" id="lander">
	<div class="col-xs-12 meeter">
		<h1>{{ lang.menyy }}</h1>
		<!--<h2>{{ lang.lahtiolek | linebreaksbr }}</h2>-->
	</div>

	<div class="main col-xs-12">
		{% for item in toit %}
		<div class="col-lg-3 col-xs-6 toit_item" id="{{ item.id }}">
			<h1><br><b>{{ item.nimi }}</b></h1>
			<h2>{{ item.kirjeldus | linebreaksbr }}</h2>
			<h3>{{ item.hind }}€</h3>
			<img src="{{ item.pilt.url }}">
		</div>
		<script type="text/javascript">
			var kokku = 0;
			$('#{{ item.id }}').click(function(){
				$(".glyphicon-shopping-cart").removeClass('hidden');
				$(".list").append( "<h2 id='{{ item.id }}-text'>{{ item.nimi }}<b>{{ item.hind }}€</b></h2>" );
				kokku = kokku + Number({{ item.hind }});
				$('#kokku').text(kokku);
				$('#toidud').val($('#toidud').val()+'{{ item.nimi }},')
				$('.glyphicon-plus').fadeIn(20);
				$('.glyphicon-plus').fadeOut(200);
			});
		</script>
		{% endfor %}
	</div>
</div>

{% include "navbar/footer.html" %}
<span class="glyphicon-shopping-cart glyphicon hidden"></span>
<span class="glyphicon glyphicon-plus"></span>
<div class="shoppinglist-bg hidden"></div>
<div class="shoppinglist hidden">
	<form method="POST"> {% csrf_token %}
		<div class="list">
		<span class='glyphicon glyphicon-remove' id="cart-remove"></span>
		</div>
		<h2>{{ lang.kokku | linebreaksbr }} <b id="kokku">0</b><b>€</b></h2>
		<input class="hidden" id="toidud" name="toidud">
		<button type="submit" name="submit-btn" value="toidud" id="maksa">{{ lang.maksa | linebreaksbr }}</button>
	</form>
</div>

<script type="text/javascript">
	$('.glyphicon-remove').click(function(){
		location.reload();
	});
	$('.glyphicon-shopping-cart').click(function(){
		$('.shoppinglist').toggleClass('hidden');
		$('.shoppinglist-bg').toggleClass('hidden');
		$('.glyphicon-shopping-cart').toggleClass('pressed');
	});
	$('.shoppinglist-bg').click(function(){
		$('.shoppinglist').toggleClass('hidden');
		$('.shoppinglist-bg').toggleClass('hidden');
		$('.glyphicon-shopping-cart').toggleClass('pressed');
	});
</script>
{% endif %}
</body>
</html>






















{% for i in 'asdgjy' %}
<div class="toode">
	
</div>
{% endfor %}