{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>EMART</title>

	<link rel="stylesheet" type="text/css" href="{% static "lander.css" %}">
</head>
<body style="background-image: url('{% static "bg.jpg" %}');">
{% include "navbar/navbar.html" %}
<div class="col-xs-12" id="lander">
	<div class="col-xs-12 meeter">
		<h1>{{ lang2.nimi | linebreaksbr }}</h1>
		<h2>{{ lang2.lahtiolek | linebreaksbr }}</h2>
	</div>

	<div class="main col-xs-12">
		<div class="col-xs-12 col-lg-6">
			<br>
			<h2>{{ lang2.restost | linebreaksbr }}</h2>
			<br>
			<p>{{ lang2.restost2 | linebreaksbr }}</p>
		</div>
		<div class="col-xs-12 col-lg-6"><br><img class="auto" src="{{ lang2.restostpilt.url }}"></div>
	</div>
	<div class="main col-xs-12">
		<h2 class="center">{{ lang2.menyyst | linebreaksbr }}</h2>
		<p class="center">{{ lang2.menyyst2 | linebreaksbr }}</p>
		<div class="col-xs-12 col-lg-3 menyypilt"><img class="auto" src="{{ lang2.menyystpic1.url }}"></div>
		<div class="col-xs-12 col-lg-3 menyypilt"><img class="auto" src="{{ lang2.menyystpic2.url }}"></div>
		<div class="col-xs-12 col-lg-3 menyypilt"><img class="auto" src="{{ lang2.menyystpic3.url }}"></div>
		<div class="col-xs-12 col-lg-3 menyypilt"><img class="auto" src="{{ lang2.menyystpic4.url }}"></div>
		<div class="col-xs-12">
			<h3 class="center"><br><a class="reg" href="/order">{{ lang2.menyyst3 | linebreaksbr }}</a></h3>
		</div>
	</div>

{% include "navbar/footer.html" %}
</div>
</body>
</html>