{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>EMART</title>

	<link rel="stylesheet" type="text/css" href="{% static ".css" %}">
</head>
<body style="background-image: url('{% static "bg.jpg" %}');">
{% include "navbar/navbar.html" %}
<div class="col-xs-12 col-lg-3"></div>
<div class="col-xs-12 col-lg-6 checkout">
	<h1>{{ lang.tanan | linebreaksbr }}<br><br><a href="/">{{ lang.avalehele | linebreaksbr }}</a></h1>
	.<br>
</div>
<div class="col-xs-12 col-lg-3"></div>
</body>
</html>