{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>EMART</title>

	<link rel="stylesheet" type="text/css" href="{% static ".css" %}">
</head>
<body style="background-image: url('{% static "" %}');">
{% include "navbar/navbar.html" %}

</body>
</html>