{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ contact.name }}</title>

	<link rel="stylesheet" type="text/css" href="{% static ".css" %}">
</head>
<body style="background-image: url('{% static "" %}');">
{% include "navbar/navbar.html" %}

<div class="col-xs-12 main">
	<h1>{{ lang.h1 }}</h1>
</div>

{% include "navbar/footer.html" %}
</body>
</html>