


body{
  background-attachment: fixed ! important;
  background-size: 100% !important;
  background-height: auto;
  background-repeat: repeat;
}

/*  ---------------------------------------   */
/*   http://miketricking.github.io/dist/   HOVER EFFECT 7   */



.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect img {
  display: block;
  position: relative;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 17px;
  position: relative;
}

.hovereffect:hover h2 {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
  transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect h2,
.hovereffect #sad {
  position: absolute;
  top: 40%;
  left: 48%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  background-color: transparent;
  margin: 0px;
  padding: 0px;
}

.hovereffect .overlay:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45vh;
  height: 45vh;
  border: 2px solid #fff;
  content: '';
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,0deg) scale3d(0,0,1);
  transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,0deg) scale3d(0,0,1);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
}

.hovereffect #sad {
  width: 20%;
  text-transform: none;
  font-size: 15px;
  line-height: 2;
}

.hovereffect #sad a {
  color: #fff;
}

.hovereffect #sad a:hover,
.hovereffect #sad a:focus {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.hovereffect  a img {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  padding: 0px 0px;
}

.hovereffect #sad a:first-child img {
  -webkit-transform: translate3d(-0px,-0px,0);
  transform: translate3d(-0px,-0px,0);
}

.hovereffect #sad a:nth-child(2) img {
  -webkit-transform: translate3d(0px,-0px,0);
  transform: translate3d(0px,-0px,0);
}

.hovereffect #sad a:nth-child(3) img {
  -webkit-transform: translate3d(-0px,0px,0);
  transform: translate3d(-0px,0px,0);
}

.hovereffect #sad a:nth-child(4) img {
  -webkit-transform: translate3d(0px,0px,0);
  transform: translate3d(0px,0px,0);
}

.hovereffect:hover .overlay:before {
  opacity: 1;
  filter: alpha(opacity=100);
  background-color: rgba(0,0,0,0.2);
  -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-135deg) scale3d(1,1,1);
  transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-135deg) scale3d(1,1,1);
}

.hovereffect:hover #sad img:empty {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  opacity: 1;
  filter: alpha(opacity=100);
}

.esipilt {
    position: relative;
}

#esipilt1 img{
    position: absolute;
    width: 22vh;
}
#esipilt2 img{
    position: absolute;
    width: 22vh;
}
#esipilt3 img{
    position: absolute;
    width: 22vh;
}
#esipilt4 img{
    position: absolute;
    width: 22vh;
}

#esipilt1{
    
}
#esipilt2{
    margin-left: 120%
}
#esipilt3{
    margin-left: 240%
}
#esipilt4{
    margin-left: 360%
}

#sad {
  top: 37% !important;
  left: 17.5% !important
}