html {
	scroll-behavior: smooth;
}
body{
	font-family: ProximaNova;
	font-weight: 250;
	overflow-x: hidden;
	min-height: 100vh;
}
.hidden {
	display: none;
}
.navbar{
	background-color: #0058a2;
	margin: 0 0 0 0;
	position: fixed;
	color: white;
	z-index: 9999;
}
.navbar-spacer{
	height: 4.9vh;
}
/* Desktop navbar */
	.navbar-desktop{
		height: 5.5vh;
		width: 100vw;
		border-radius: 0 0 0 0;
	}
	.navbar-desktop__logo{
		position: fixed;
		width: 25vh;
		margin-top: 2.75vh;
		margin-left: 16.6666vw;
	}
	.navbar-desktop__info{
		text-align: right;
	}
	.navbar-desktop__info h3{
		margin-top: 0.75vh;
	}
	.navbar-desktop__info h3 sup{
		font-size: 1.6vh;
	}
	.navbar-desktop__info h3 span{
		font-size: 3vh;
		padding-left: 3vh;
	}
	.navbar-desktop__nav{
		text-align: right;
		padding-top: 2vh;
	}
	.navbar-desktop__nav a{
		color: white;
		text-decoration: none;
		font-size: 2.25vh;
		margin-left: 3vh;
		text-shadow: 1px 1px 5px rgba(0,0,0,1), 1px 1px 5px rgba(0,0,0,1);
	}

	.navbar-desktop__langs__item {
		margin-top: 1.25vh;
	}
	.navbar-desktop__langs__item img {
		width: 3.5vh;
		height: 2.1vh;
	}
	.navbar-desktop__langs__item button {
		display: inline-block;
		padding: 0 0 0 0;
		border: none;
		width: 3.5vh;
		height: 2vh;
	}


/* footer */
	.footer{
		margin-top: 12vh !important;
		padding-bottom: 3vh !important;
		height: 28vh;

		padding: 0 0 0 0;
		margin: 0 0 0 0;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#033762+1,0058a2+100 */
		background: #033762; /* Old browsers */
		background: -moz-linear-gradient(top, #033762 1%, #0058a2 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #033762 1%,#0058a2 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #033762 1%,#0058a2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#033762', endColorstr='#0058a2',GradientType=0 ); /* IE6-9 */
	}
	.footer__top{
		background-color: #FEC900;
		width: 100vw;
		height: 2vh;
		padding: 0 0 0 0;
		margin: 0 0 0 0;
	}
	.footer__content__info,
	.footer__content__shape{
		padding: 0 0 0 0;
	}
	.footer__content__info {
		padding-top: 5vh;
	}
	.footer__content__info__img img {
		width: 100%;
	}
	.footer__content__info__socialmedia {
		text-align: center;
		margin-top: 2vh;
	}
	.footer__content__info__socialmedia a {
		width: 5vh;
		height: 5vh;
		font-size: 3vh;
		background-color: #0058a2;
		padding: 1vh 1vh 1vh 1vh;
		border-radius: 5vh 5vh 5vh 5vh;
		color: white;
	}
	.footer__content__info__text {
		text-align: left;
		padding-left: 2vh;
		color: white;
	}
	.footer__content__info__text p{
		font-size: 1.75vh;
		margin-bottom: 0;
	}
	.footer__content__info__text p a {
		color: white;
	}


	.footer__content__shape__parallelogram{
		width: 100vw;
		height: 25vh;
		transform: skew(20deg);
		background: #0058a2;
		margin-left: 15vw;
		padding: 0 0 0 0;
	}
