.discounts{
	margin-top: 12vh;
}
.discounts__header h3{
	color: #0058a2;
	font-size: 3.5vh;
	font-weight: bold;
}

.discounts__items__item__img img {
	width: 100%;
}

/*
.col-lg-2 {
	width: 19.9% !important;
}
*/

.discounts__items {
	margin-top: 5vh;
}

.discounts__items__item__info {
	text-align: center;
}
.discounts__items__item__info h4 {
	font-size: 2.5vh;
	font-weight: bold;
}
.discounts__items__item__info p {
	font-size: 1.75vh;
}
.discounts__items__item__info h5 {
	font-size: 3.5vh;
	color: red;
	font-weight: bold;
}
.discounts__items__item__info h6 {
	font-size: 1.75vh;
}

